html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 175vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',
  sans-serif;
}

header {
  display: grid;
  grid-template-rows: 33% 66%;
  height: 10%;
  padding: 1% 1% 2% 0;
  /* background: linear-gradient(to left, #333, #333 20%, rgb(111, 107, 107) 50%, rgb(181, 178, 178) 90%); */
  background-image: url(assets/space-2.jpeg);
  border-bottom: 0.5em solid rgba(251, 75, 225, 0.541)
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  border-top: 2px solid rgb(24, 40, 40, 0.5);
  /* width: 100vw; */
  /* width: 100%; */
  background: linear-gradient(to right, rgb(33, 32, 32), rgb(60, 67, 96) 30%, rgb(73, 98, 152) 50%, rgb(45, 176, 245, 0.8) 70%);
  /* background-image: url(assets/space-2.jpeg); */
  /* background-repeat: no-repeat; */
}

select {
  margin-left: 5%;
}

.username-menu {
  width: 12em;
  justify-self: flex-end;
  align-self: center;
  /* margin: 1% 1% 0 0; */
  padding: 0.5% 0 0.75% 1.5%;
  font-size: 1.2vw;
  color: #ffffffa1;
  background-color:rgba(73, 98, 152, 0.726)
}

.nav-bar {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 100%;
  /* height: 100%; */
  padding: 0;
}

.nav-bar-links {
  display: flex;
  align-items: flex-end;
  padding-left: 1%;
  margin: 0 0 0 2%;
}

.nav-bar-links li {
  display: flex;
  flex-flow: row nowrap;
  justify-self: flex-start;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  width: 13vw;
  height: 3vw;
  padding: 0 1% 0 1%;
  margin: 1% 1% 0 0;
  border: 0.1em solid #5181fb;
  color: #ffffffaf;
  background-color: rgba(94, 51, 129, 0.277);
  font-size: 1.5vw;
  cursor: pointer;
}

i {
  margin-right: 5%;
}

.nav-bar-logo {
  /* background-image: url(assets/sword-logo-2.png); */
  justify-self: flex-end;
  align-self: flex-end;
  margin: 6% 2% 5% 0;
  font-size: 3em;
}

.logo {
  width: 40%;
  height: 40%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 94%;
  height: 100%;
}

.box-grid-title {
  display: flex;
  align-items: center;
  height: 6vw;
  margin: 3% 0 3% 0;
  font-size: 6vw;
  font-weight: bold;
  font-family: 'Alex Brush',
  cursive;
  color: #62f252a7;
}

.box-grid {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 1.4%;
  grid-row-gap: 1.4%;
  justify-items: center;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}

.box {
  display: flex;
  flex-direction: column;
  width: 23vw;
  height: 33vw;
  border-radius: 3px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0.3em 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.2),
  0.5em 0.5em 0.5em 0.2em rgba(0, 0, 0, 0.2);
}

.box-top {
  height: 35vh;
  border-radius: 3px 3px 0 0;
  background-color: rgba(51, 62, 133, 0.6)
}

.box-bottom {
  height: 65vh;
  border-radius: 0 0 3px 3px;
  background-color: rgba(255, 255, 255, 0.93);
  margin: 0;
}

.active {
  /* color: #3ee668d6; */
  color: #ffffff;
}